.App {
  text-align: center;
}

/*.App-logo {
  height: 40vmin;
}*/


/*.App-link {
  color: #09d3ac;
}*/

.PageWrapper{
  margin: 0 auto;
  max-width: 960px;
}

body{
  box-sizing: border-box;
}

.WeatherNav { /*doing css alphabetically helps!!*/
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  /*margin: 20px auto;*/
  max-width: 1400px;
  width: 100%;
  
}

.WeatherNav__Item {
  color: black;
  font-size: 20px;
  margin: 0 20px;
  padding: 10px;
  transition: background-color 300ms ease;
  text-decoration: none;
}

.WeatherNav__Item--active {
  background-color: lightblue;
  color: blue;
}

.WeatherNav__Item:hover{
  background-color: gray;
}

.successMessage{
  background-color: rgba(179, 255, 191);
  border: 1px solid green;
  margin: 20px 300px;
  padding: 5px;
  display: block;
  text-align: center;
  position: relative;
  transition: background-color 500ms ease;
}

.successMessage:hover{
  background-color: rgba(179, 255, 191, .1);
}
