.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}


.App-link {
  color: #09d3ac;
}

body{
  box-sizing: border-box;
}

.WeatherNav { /*doing css alphabetically helps!!*/
  align-content: center;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  max-width: 1080px;
  width: 100%;
}

.WeatherNav__Item {
  color: black;
  font-size: 20px;
  margin: 0 20px;
  padding: 10px;
}

.WeatherNav__Item--active {
  background-color: gray;
  color: blue;
}



